<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{.InstanceName}}</title>
</head>
<body>
    <h1>登録完了</h1>
    <p>{{.InstanceName}}への登録が完了しました。</p>
    <p>続けてマストドンクライアントアプリにこのサーバー ( {{.Domain}} ) のアカウントを追加してください。</p>
</body>
</html>