<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{.InstanceName}}</title>
</head>
<body>
    <h1>{{.InstanceName}}</h1>
    <p><a href="{{.MastodonURL}}">{{.MastodonInstanceName}}</a> のハイライトを見ることができます。</p>
    <p>{{.MastodonInstanceName}}のハイライトを見るためには、{{.MastodonInstanceName}}のアカウントと、このサイトへの登録と、マストドンクライアントアプリが必要となります。</p>
    <p><a href="{{.RegisterURL}}" style="display: inline-block; text-decoration: none; border: 1px solid black; border-radius: 5px;color: black;background-color: lightgreen;padding: 1px 5px;">登録</a></p>
</body>
</html>